#container {
    max-width: 1200px;
    max-height: 750px;
    margin: 0 auto 0 auto;
}

.break {
    display: flex;
}

.form-field {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 10px 15px 10px;
    align-items: center;
    top: -30px;
}

label, input {
    display: block;
    max-height: 20px;
    max-width: 100px;
}

form {
    margin: 0 auto 0 auto;
    display: grid;
    padding-left: 30px;
}

#endPage {
    display: flex;
}

#reset {
    border: 2px solid #0072cc;
    /* box-sizing: border-box;  */
    padding: 10px;
    max-height: 100px;
    margin-right: 10px;   
}

#reset input {
    border: none;
} 

#reset input:hover {
    border: 2px solid #0072cc;
    background-color: #0072cc;
    color: #dfe8ef;
}

#reset:focus {
    font-weight: bold;
    box-shadow: 0 3px 3px 0 #0d4d7f, 0 3px 3px 0 #0d4d7f;
}

input {
    display: inline-block;
    border: 2px transparent;
    border-bottom: 2px dashed #0072cc;
    border-color: #0072cc;
    margin-bottom: 3px;
    background-color: transparent;
    box-sizing: border-box;
    font-size: 19.5px;
    color: #0d4d7f;
    text-align: center;
}

#submit input {
    border: 2px solid #0072cc;   
    /* box-sizing: border-box;  */
    padding: 10px;
    max-height: 100px;
    margin-right: 10px;
}

#submit input:hover {
    border: 2px solid #0072cc;
    background-color: #0072cc;
    color: #dfe8ef;
}

#submit input:focus {
    font-weight: bold;
    box-shadow: 0 3px 3px 0 #0d4d7f, 0 3px 3px 0 #0d4d7f;
}

form input:focus {
    outline: none;
    background-color: #d8d8d8;
    border-bottom: 2px solid #0072cc;
}

.require {
    border: 2px solid red;
}

label {
    display: inline-block;
}

body {
    font-family: "Raleway", sans-serif;
    color: #0d4d7f ;
    
}

p {
    line-height: 1.5em;
    font-size: 15px;
    /* filter: blur(3.5px); */
}

.blurred-text {
    filter: blur(3.5px);
    /* transition: filter 0.3s ease; */
}

.unblurred-text {
    filter: none;
    transition: filter 0.3s ease;
}

form p {
    line-height: 1.5em;
    font-size: 19.5px;
    position: relative;
    top: -15px;
}

a {
    color: #0072cc;
    text-decoration: none;
}

#mainContainer {
    display: grid; 
    min-width: 1100px;
    min-height: 350px;
    position: relative;
    width: 100%;
}

#pizza {
    position: absolute;
    right: 75px;
    top: 200px;
}

#smiles {
    position: absolute;
    left: 20px;
    top: 120px;
}

.banner {
    position: relative;
    width: 100%;
    display: block;
}

.banner img {
    display: block;
    max-width: 1100px;
    height: auto;
    margin: 0 auto 0 auto;
}

.banner-text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#neutral {
    position: absolute;
    top: 30%;
    left: -2%;
}

@keyframes smileAnimation {
    0% {opacity: 0;}
    25% {opacity: 15;}
    50% {opacity: -15;}
    75% {opacity: 35;}
    100% {opacity: 100;}
}

#smile {
    position: absolute;
    top: 25%;
    left: 20%;
}

#smile img {
    opacity: 100;
    animation-name: smileAnimation;
    animation-duration: 4s;
}

#top-swoop {
    position: absolute;
    top: -45%;
    left: 15%;
}

@keyframes alrightAnimation {
    0% {transform: translateX(0) translateY(0);}
    100% {transform: translateX(-200px) translateY(-200px);}
}

#alright {
    position: absolute;
    top: 15%;
    right: 10%;
}

#alright img {
    transition: transform 4s ease-in-out;
    transform: translateX(0) translateY(0)
}

#alright img:hover {
    transform: translateX(200px) translateY(-200px);
    cursor: pointer;
}

main {
    display: grid;
    min-height: 100%;
    padding: 5% 8%;
    max-width: 1200px;
    min-height: 350px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

header {
    color: white;
}

h1 {
    font-family: "BBH Hegarty", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 62px;
    top: 20px;
    margin: 0;
}

.letterM {
    display: inline-block;
    transform: rotate(-15deg);
}
.letterA {
    display: inline-block;
    transform: rotate(15deg);
    transform: translateX(2px);
}
.letterD {
    display: inline-block;
    transform: rotate(-15deg);
}
.letterL {
    display: inline-block;
    transform: rotate(15deg);
}
.letterI {
    display: inline-block;
    transform: rotate(-15deg);
}
.letterB {
    display: inline-block;
    transform: translateX(2px);
}
.letterS {
    display: inline-block;
    transform: rotate(-15deg);
}

section {
    flex: 1;
    margin: 40px 200px 40px 200px;
}

h2 {
    font-size: 38px;
    font-weight: normal;
    margin: 2% 0 0 0;
}

h3 {
    font-size: 23px;
    font-weight: 400;
    margin: 20px 0px 10px;
}

ul li {
    list-style-image: url('images/bullet.svg');
}

ul li a {
    text-decoration: none;
    color: #0d4d7f ;
    line-height: 41px;
}

ul{
    margin: 0 0 37px 0;
}

ul li a:hover {
    text-decoration: underline;
    color: #0d4d7f ;
}

footer p {
    color: #dfe8ef;
}
.footer-banner img {
    display: block;
    width: 100%;
    height: auto;
}

.footer-banner {
    position: relative;
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

.footer-banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}